@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap");

.App {
  text-align: center;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav a,
Link {
  color: black;
  display: inline-block;
  margin: 0;
  margin-inline: 1rem;
}

nav a:hover {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: 400;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
}
